body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .container{
      display: flex;
      justify-content: center;
      max-width: 160px;
  }

  .recipe{
      padding-left: 1cm;
      padding-right: 1cm;
  }