@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body {
    display: grid;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    background-image: url('media/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-color: rgb(230, 152, 178);
    color: #323232;
}

img {
    border: 5px solid #c556aa;
    border-radius: 50%;
    object-fit: cover;
}

.recipe {
    transition: opacity 0.3s ease;
}

.page:hover .recipe{
    opacity: 50%;
}

.page:hover .recipe:hover{
    opacity: 100%;
}

h1:hover {
    font-family: 'Cookie', cursive;
    font-size: 34px;
}

.container{
      display: flex;
      justify-content: center;
      max-width: 160px;
}

.margin{
    margin-left: 70px;
}

a {
    text-decoration: none;
    text-shadow: 0.5px 0.5px #7c7c7c;
    color: #323232;
}

a:link, a:visited {
    text-shadow: 0.5px 0.5px #7c7c7c;
    color: #323232;
}

a:hover {
    text-shadow: 0.5px 0.5px #323232;
    color: #000000;
}