@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
  }

  .container{
      display: flex;
      justify-content: center;
      max-width: 160px;
  }

  .recipe{
      padding-left: 1cm;
      padding-right: 1cm;
  }